:root {
    --text-color: #e9ebec;
    --main-bg-color: #0d0d0d;
    --secondary-bg-color: #212121;
    --placeholder-color: #8A8F98;
    --table-odd-color: rgb(28, 28, 28);
    --table-even-color: rgb(23, 23, 23);
}

body {
    background-color: var(--main-bg-color);
    color: #ebe9fc;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 20px 100px;
    gap: 30px;
}

table,
th,
td {
    border-collapse: collapse;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

#head-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 28px;
}

tr:nth-child(even) {
    background: var(--table-even-color);
}

tr:nth-child(odd) {
    background: var(--table-odd-color);}


tr {
    width: 100%;
    text-align: center;
    height: 120px;
}

th {
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

img {
    border-radius: 0.25em;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(51, 51, 54, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 54, 1);
    border-radius: 0.25em;
    width: 12px;
    border: 0px solid var(--text-color);
    display: flex;
    align-items: center;
}

.link {
    width: 24px;
    height: 24px;
    filter: invert(82%) sepia(0%) saturate(3364%) hue-rotate(275deg) brightness(83%) contrast(85%);
    transition: all ease-in-out .15s;
}

.link:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(159deg) brightness(106%) contrast(101%);
}

#links {
    display: flex;
    gap: 25px;
}

#logo {
    width: 50px;
    height: 50px;
}

#branding {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#searchInput {
    padding: 20px 20px 20px 20px;
    border-radius: 0.55em;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-bg-color);
    border: none;
    color: var(--text-color);
    transition: all ease-in-out .15s;
    outline: none;
    width: 100%;
}

#searchInput:focus {
    border: 1px solid rgb(71, 71, 74);
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

#table-inputs {
    width: 100%;
    display: flex;
    gap: 25px;
}

#sort {
    width: 100px;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--text-color);
    border-radius: 0.55em;
    text-align: center;
    transition: all ease-in-out .15s;
}

#sort:hover {
    background-color: rgb(43, 43, 43);
}

select#sort {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#tabs {
    display: flex;
    gap: 15px;
}

#tabs > a > button {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px 10px 20px;
    height: 50px;
    border-radius: 0.55em;
    transition: all ease-in-out .15s;
    cursor: pointer;
}

#tabs > a > button:hover {
    background-color: rgb(43, 43, 43);
}

*:focus {
    outline: none;
}
